# Dependencies
node_modules/

# Next.js
.next/

# Environment / secrets
.env
.env.local
.env.production
.env.*.local

# Local databases
*.db
*.db-journal

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo
